<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737088097620-a2mh01n53g83ss5n9fqdvaut6gl44cis.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737088097620-a2mh01n53g83ss5n9fqdvaut6gl44cis</string>
	<key>API_KEY</key>
	<string>AIzaSyBVgMYNWjmtF4JBzVHnadSV7O278asYkgA</string>
	<key>GCM_SENDER_ID</key>
	<string>737088097620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test2</string>
	<key>PROJECT_ID</key>
	<string>fir-test-243ec</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-243ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737088097620:ios:876f2d91c121213adfccc1</string>
</dict>
</plist>